 First Name : <h1><%=friends[index].firstName%> </h1>
 Last Name : <h1><%=friends[index].lastName%> </h1>
 Title : <h1><%=friends[index].title%> </h1>
 Birth : <h1><%=friends[index].dateOfBirth%> </h1>
 Qalification : <h1><%=friends[index].Qalification%> </h1>

